*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}
:root{
    font-size: 10px; 
}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif; /* always is better to be all of my website the same font*/
    line-height: 1.5; /* here i don't put unit masefe ben l astur is the line height*/
}
a{
     text-decoration: none; /* ma bade kel mara yhotle zih taht link */
}
li{
    list-style: none; /* ma bade hot no2ta krmel hek i put none*/
} /* here i can put ul also */

/* i do this page bcz they are so important always should i use them 
so that's why i put all of them in one page and i link  the pages 
with this page*/